<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../style.css" />

    <title>Game Edit</title>
  </head>
  <body>
    <header>
      <a class="headerLinks" href="/">Home</a>
      <a class="headerLinks" href="/games">Games</a>
      <a class="headerLinks" href="/genres">Genres</a>
      <a class="headerLinks" href="/developers">Developers</a>
    </header>
    <main>
      <form
        class="edit-game-form"
        action="/games/<%= game[0].id %>/edit"
        method="post"
      >
        <div class="enter-game-name-wrapper">
          <label class="add-item-title" for="name">Game Name</label>
          <input
            name="gameName"
            id="name"
            class="add-item-box"
            type="text"
            placeholder="Enter game name"
            value="<%= game[0].name %>"
          />
          <br />
        </div>

        <div>
        <% genres.forEach(genre => { 
          const isChecked = gameGenresIds.some(gameGenre => gameGenre.genre_id == genre.id); 
        %>
        <div>
          <input type="checkbox" name="gameGenresIds" value="<%= genre.id %>" 
          <%= isChecked ? 'checked' : '' %> />
          <label for="Genre<%= genre.id %>"><%= genre.name %></label><br />
        </div>
        <% }); %>
      </div>
        <div class="edit-game-wrapper-bottom">
          <label class="add-item-title" for="gameDeveloper">Developer</label>
          <select
            class="add-item-box"
            name="gameDeveloperId"
            id="gameDeveloper"
          >
            <% developers.forEach(developer => { 
              const isSelected = developer.id === gameDeveloperIds[0].developer_id; 
            %>
            <option value="<%= developer.id %>" <%= isSelected ? 'selected' : '' %>>
              <%= developer.name %>
            </option>
            <% }); %>
          </select>

          <button
            class="form-submit-button small-spacing-vertical"
            type="submit"
          >
            Update
          </button>
          <a class="form-submit-button small-spacing-vertical" href="/games">
            Cancel
          </a>
          <% if (errors && errors.length > 0) { %>
            <ul>
              <% errors.forEach(function(error) { %>
              <li class="error-message"><%= error.msg %></li>
              <% }) %>
            </ul>
            <% } %>
        </div>
      </form>
    </main>
  </body>
</html>
